In [1]:
import pandas as pd
import numpy as np

In [2]:
playerNormalizedDf = pd.read_csv("player_regular_season_normalized.csv", index_col=0)
gameWithWinDf = pd.read_csv("team_with_year.csv", index_col=0)

In [3]:
gameWithWinDf.keys()

Index(['game_date', 'team_id_x', 'game_id', 'ilkid'], dtype='object')

In [4]:
playerNormalizedDf.keys()

Index(['ilkid', 'year', 'firstname', 'lastname', 'team', 'leag', 'gp',
       'minutes', 'pts', 'oreb', 'dreb', 'reb', 'asts', 'stl', 'blk',
       'turnover', 'pf', 'fga', 'fgm', 'fta', 'ftm', 'tpa', 'tpm'],
      dtype='object')

## Food for thought
Till where do we have the data? Is it till Dec 2004, Dec 2005 or Dec 2003 or something else? Need to figure this out

In [5]:
gameWithWinDf

,game_date,team_id_x,game_id,ilkid
0,1996-11-01,ATL,29600005,"['LAETTCH01', 'BLAYLMO01', 'BARRYJO01', 'NORMA..."
1,1996-11-01,BOS,29600001,"['FOXRI01', 'WESLEDA01', 'ELLISPE01', 'WILLIER..."
2,1996-11-01,CHI,29600001,"['BROWNRA01', 'JORDAMI01', 'RODMADE01', 'BUECH..."
3,1996-11-01,CLE,29600002,"['GEARYRE01', 'THOMACA01', 'POTAPVI01', 'LANGA..."
4,1996-11-01,DAL,29600010,"['HARPEDE01', 'DUMASTO01', 'GATLICH01', 'KIDDJ..."
...,...,...,...,...
20142,2005-12-31,NOK,20500869,"['BROWNPJ01', 'CLAXTSP01', 'MASONDE01', 'WESTD..."
20143,2005-12-31,POR,20500435,"['SMITHCH03', 'PRZYBJO01', 'RATLITH01', 'KHRYA..."
20144,2005-12-31,SAS,20500431,"['BARRYBR01', 'MARKSSE01', 'UDRIHBE01', 'BOWEN..."
20145,2005-12-31,SEA,20500437,"['RIDNOLU01', 'FORTSDA01', 'POTAPVI01', 'LEWIS..."
20146,2005-12-31,UTA,20500436,"['OKURME01', 'BROWNDE02', 'PALACMI01', 'KIRILA..."

In [6]:
import ast
gameWithWinDf['ilkid'] = gameWithWinDf['ilkid'].apply(ast.literal_eval)

In [7]:
gameWithWinDf_exploded = gameWithWinDf.explode(column="ilkid")

In [8]:
playerNormalizedDf = playerNormalizedDf[playerNormalizedDf["year"] >= 1995]
playerNormalizedDf

,ilkid,year,firstname,lastname,team,leag,gp,minutes,pts,oreb,...,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm
13816,ABDULMA01,1995,Mahmo,Abdul-rauf,DEN,N,57,35.60,19.21,0.46,...,1.12,0.05,2.02,2.05,16.75,7.26,2.75,2.56,5.42,2.12
13817,ADAMSMI01,1995,Michael,Adams,CHA,N,21,15.67,5.43,0.24,...,1.00,0.19,1.19,1.19,3.95,1.76,1.67,1.24,1.95,0.67
13818,ADDISRA01,1995,Rafael,Addison,CHA,N,53,9.74,3.23,0.47,...,0.17,0.17,0.51,1.40,3.11,1.45,0.42,0.32,0.17,0.00
13819,ALEXACO01,1995,Cory,Alexander,SAS,N,60,9.33,2.80,0.15,...,0.45,0.03,1.13,1.57,2.58,1.05,0.42,0.27,1.10,0.43
13820,ALLENJE01,1995,Jerome,Allen,MIN,N,41,8.83,2.63,0.12,...,0.51,0.12,0.83,1.02,2.56,0.88,0.88,0.63,0.80,0.24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19107,WILLISC01,2004,Scott,Williams,CLE,N,19,8.00,1.74,0.79,...,0.21,0.32,0.26,1.58,2.16,0.63,0.58,0.47,0.05,0.00
19108,WOODSLO01,2004,Loren,Woods,TOR,N,45,15.82,3.91,1.80,...,0.18,0.87,0.82,1.73,3.64,1.58,1.31,0.76,0.02,0.00
19109,WOODSQY01,2004,Qyntel,Woods,MIA,N,3,13.33,3.33,0.67,...,1.33,0.00,0.67,2.00,4.00,1.67,0.00,0.00,0.00,0.00
19110,WRIGHDO01,2004,Dorell,Wright,MIA,N,3,9.00,2.33,0.00,...,1.33,0.00,1.00,0.67,3.67,1.00,0.33,0.33,1.33,0.00
19111,WRIGHLO02,2004,Lorenzen,Wright,MEM,N,80,28.59,9.64,2.21,...,0.72,0.86,1.25,3.14,8.54,4.00,2.48,1.64,0.04,0.00

If we want only x prior years we can do something like this

```
import pandas as pd

# Example DataFrame
data = {
    'year': [2003, 2003, 2004, 2004, 2005, 2005],
    'player_id': ['abc', 'def', 'abc', 'def', 'abc', 'def'],
    'points': [10, 15, 20, 25, 30, 35]
}
df = pd.DataFrame(data)

# Sort DataFrame by 'year'
df.sort_values(by='year', inplace=True)

# Calculate average points scored prior to each year
df['avg_points_prior'] = (
    df.groupby('player_id')['points']
    .transform(lambda x: (x.shift(1) + x.shift(2)) / 2)
)

print(df)
```

In [9]:
# I want to calculate a cummalative table where a player stats for 1996 for ex is the stat of 1995
playerNormalizedDf.sort_values("year", inplace=True)

# Get all columns for cummalative sume
column_names = playerNormalizedDf.columns.to_list()
relevant_columns = column_names[7:]

# Find cummalative sum for each player for each stat
playerNormalizedDf['count'] = playerNormalizedDf.groupby('ilkid').cumcount() + 1
for col in relevant_columns:
    playerNormalizedDf[f'{col}_cumsum'] = playerNormalizedDf.groupby('ilkid')[col].cumsum()
    playerNormalizedDf[f'avg_{col}'] = playerNormalizedDf[f'{col}_cumsum'] / playerNormalizedDf['count']

In [10]:
playerNormalizedDf[playerNormalizedDf["ilkid"] == "WILLIJA02"]

,ilkid,year,firstname,lastname,team,leag,gp,minutes,pts,oreb,...,fgm_cumsum,avg_fgm,fta_cumsum,avg_fta,ftm_cumsum,avg_ftm,tpa_cumsum,avg_tpa,tpm_cumsum,avg_tpm
15969,WILLIJA02,1998,Jason,Williams,SAC,N,50,36.10,12.82,0.28,...,4.62,4.620000,2.10,2.100000,1.58,1.580000,6.46,6.460000,2.00,2.000000
16467,WILLIJA02,1999,Jason,Williams,SAC,N,81,34.07,12.33,0.27,...,9.10,4.550000,4.20,2.100000,3.16,1.580000,12.69,6.345000,3.79,1.895000
17005,WILLIJA02,2000,Jason,Williams,SAC,N,77,29.74,9.35,0.25,...,12.75,4.250000,5.19,1.730000,3.94,1.313333,16.73,5.576667,5.06,1.686667
17454,WILLIJA02,2001,Jason,Williams,MEM,N,65,34.40,14.75,0.34,...,18.53,4.632500,6.74,1.685000,5.17,1.292500,23.35,5.837500,7.01,1.752500
17929,WILLIJA02,2002,Jason,Williams,MEM,N,76,31.67,12.09,0.33,...,22.91,4.582000,8.46,1.692000,6.62,1.324000,28.67,5.734000,8.89,1.778000
18512,WILLIJA02,2003,Jason,Williams,MEM,N,72,29.38,10.86,0.35,...,26.94,4.490000,9.82,1.636667,7.76,1.293333,33.73,5.621667,10.56,1.760000
19103,WILLIJA02,2004,Jason,Williams,MEM,N,71,27.49,10.13,0.27,...,30.69,4.384286,11.24,1.605714,8.89,1.270000,38.38,5.482857,12.07,1.724286

In [ ]:
# merged_df = pd.merge(left=playerNormalizedDf, right=gameWithWinDf_exploded, left_on=["ilkid", "year"], right_on=["ilkid","game_date"])
# merged_df[merged_df["firstname"] == "Qyntel"]