In [70]:
import pandas as pd

games = pd.read_csv("player_with_game_id.csv")
playerStats = pd.read_csv("cumilative_player_attributes.csv")
# playerStats[]
playerStats

,Unnamed: 0,ilkid,year,firstname,lastname,team,leag,gp,minutes,pts,oreb,dreb,reb,asts,stl,blk,turnover,pf,fga,fgm,fta,ftm,tpa,tpm,count,gp_cumsum,avg_gp,minutes_cumsum,avg_minutes,pts_cumsum,avg_pts,oreb_cumsum,avg_oreb,dreb_cumsum,avg_dreb,reb_cumsum,avg_reb,asts_cumsum,avg_asts,stl_cumsum,avg_stl,blk_cumsum,avg_blk,turnover_cumsum,avg_turnover,pf_cumsum,avg_pf,fga_cumsum,avg_fga,fgm_cumsum,avg_fgm,fta_cumsum,avg_fta,ftm_cumsum,avg_ftm,tpa_cumsum,avg_tpa,tpm_cumsum,avg_tpm
0,13816,ABDULMA01,1995,Mahmo,Abdul-rauf,DEN,N,57,35.60,19.21,0.46,1.96,2.42,6.82,1.12,0.05,2.02,2.05,16.75,7.26,2.75,2.56,5.42,2.12,1,57,57.000000,35.60,35.600000,19.21,19.210000,0.46,0.460000,1.96,1.960000,2.42,2.420000,6.82,6.820000,1.12,1.120000,0.05,0.050000,2.02,2.020000,2.05,2.050000,16.75,16.750000,7.26,7.260000,2.75,2.750000,2.56,2.560000,5.42,5.420000,2.12,2.120000
1,14188,PIPPESC01,1995,Scottie,Pippen,CHI,N,77,36.69,19.43,1.97,4.47,6.44,5.87,1.73,0.74,2.69,2.57,15.79,7.31,4.21,2.86,5.21,1.95,1,77,77.000000,36.69,36.690000,19.43,19.430000,1.97,1.970000,4.47,4.470000,6.44,6.440000,5.87,5.870000,1.73,1.730000,0.74,0.740000,2.69,2.690000,2.57,2.570000,15.79,15.790000,7.31,7.310000,4.21,4.210000,2.86,2.860000,5.21,5.210000,1.95,1.950000
2,14187,PINCKED01,1995,Ed,Pinckney,PHI,N,27,25.15,5.56,2.74,3.78,6.52,0.81,1.22,0.41,0.85,2.04,3.78,2.00,2.04,1.56,0.00,0.00,1,27,27.000000,25.15,25.150000,5.56,5.560000,2.74,2.740000,3.78,3.780000,6.52,6.520000,0.81,0.810000,1.22,1.220000,0.41,0.410000,0.85,0.850000,2.04,2.040000,3.78,3.780000,2.00,2.000000,2.04,2.040000,1.56,1.560000,0.00,0.000000,0.00,0.000000
3,14186,PINCKED01,1995,Ed,Pinckney,TOT,N,74,23.11,6.46,2.55,3.64,6.19,0.97,0.86,0.38,1.04,2.11,4.53,2.31,2.42,1.84,0.04,0.00,2,101,50.500000,48.26,24.130000,12.02,6.010000,5.29,2.645000,7.42,3.710000,12.71,6.355000,1.78,0.890000,2.08,1.040000,0.79,0.395000,1.89,0.945000,4.15,2.075000,8.31,4.155000,4.31,2.155000,4.46,2.230000,3.40,1.700000,0.04,0.020000,0.00,0.000000
4,14185,PINCKED01,1995,Ed,Pinckney,TOR,N,47,21.94,6.98,2.45,3.55,6.00,1.06,0.66,0.36,1.15,2.15,4.96,2.49,2.64,2.00,0.06,0.00,3,148,49.333333,70.20,23.400000,19.00,6.333333,7.74,2.580000,10.97,3.656667,18.71,6.236667,2.84,0.946667,2.74,0.913333,1.15,0.383333,3.04,1.013333,6.30,2.100000,13.27,4.423333,6.80,2.266667,7.10,2.366667,5.40,1.800000,0.10,0.033333,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5291,18723,GILLKE01,2004,Kendall,Gill,MIL,N,14,20.29,6.07,0.79,1.86,2.64,1.93,1.00,0.29,0.64,2.64,5.71,2.29,1.43,1.29,0.64,0.21,12,631,52.583333,366.00,30.500000,143.62,11.968333,14.43,1.202500,35.26,2.938333,49.73,4.144167,36.40,3.033333,18.16,1.513333,4.82,0.401667,20.38,1.698333,31.31,2.609167,130.15,10.845833,54.79,4.565833,39.30,3.275000,29.84,2.486667,13.92,1.160000,4.18,0.348333
5292,18724,GINOBEM01,2004,Emmanuel,Ginobili,SAS,N,74,29.64,16.03,1.01,3.43,4.45,3.89,1.61,0.36,2.32,2.57,10.54,4.96,5.97,4.80,3.49,1.31,3,220,73.333333,79.73,26.576667,36.46,12.153333,2.81,0.936667,8.43,2.810000,11.25,3.750000,9.67,3.223333,4.77,1.590000,0.82,0.273333,5.86,1.953333,7.38,2.460000,26.54,8.846667,11.77,3.923333,12.32,4.106667,9.73,3.243333,8.81,2.936667,3.19,1.063333
5293,18725,GIRICGO01,2004,Gordan,Giricek,UTA,N,81,20.49,8.83,0.31,1.94,2.25,1.69,0.57,0.14,1.11,1.91,7.80,3.49,1.69,1.37,1.30,0.47,7,379,54.142857,190.58,27.225714,81.68,11.668571,3.85,0.550000,17.56,2.508571,21.39,3.055714,12.42,1.774286,5.03,0.718571,1.06,0.151429,11.15,1.592857,14.01,2.001429,70.87,10.124286,30.99,4.427143,16.02,2.288571,13.41,1.915714,17.63,2.518571,6.31,0.901429
5294,18709,FRAHMRI01,2004,Richie,Frahm,POR,N,43,11.60,3.81,0.40,1.02,1.42,0.70,0.35,0.09,0.33,0.81,3.26,1.30,0.58,0.49,1.86,0.72,2,97,48.500000,20.29,10.145000,7.20,3.600000,0.62,0.310000,1.83,0.915000,2.46,1.230000,1.14,0.570000,0.65,0.325000,0.16,0.080000,0.46,0.230000,1.74,0.870000,5.83,2.915000,2.47,1.235000,1.06,0.530000,0.92,0.460000,3.56,1.780000,1.35,0.675000
5295,19111,WRIGHLO02,2004,Lorenzen,Wright,MEM,N,80,28.59,9.64,2.21,5.45,7.66,1.09,0.72,0.86,1.25,3.14,8.54,4.00,2.48,1.64,0.04,0.00,9,598,66.444444,234.56,26.062222,83.76,9.306667,22.23,2.470000,43.28,4.808889,65.51,7.278889,7.98,0.886667,5.78,0.642222,7.26,0.806667,11.51,1.278889,27.54,3.060000,74.98,8.331111,34.32,3.813333,22.88,2.542222,15.06,1.673333,0.41,0.045556,0.02,0.002222

In [71]:
# print(games.columns)
# print(playerStats.columns)
games['year'] = games.apply(lambda x: int(x['game_date'][0:4]), axis=1)
# games[games["ilkid"] == "BLOUNCO01"]
games[games['year'] <= 2004]

,Unnamed: 0,game_id,game_date,winning_team_abbr,team_id_x,team_id_y,player_id,ilkid,playercode,year
0,0,29600012,1996-11-01 00:00:00,LAL,LAL,1610612741,916,BLOUNCO01,corie_blount,1996
1,1,29600027,1996-11-03 00:00:00,LAL,LAL,1610612741,916,BLOUNCO01,corie_blount,1996
2,2,29600044,1996-11-06 00:00:00,CHH,LAL,1610612741,916,BLOUNCO01,corie_blount,1996
3,3,29600057,1996-11-08 00:00:00,TOR,LAL,1610612741,916,BLOUNCO01,corie_blount,1996
4,4,29600095,1996-11-13 00:00:00,SAS,LAL,1610612741,916,BLOUNCO01,corie_blount,1996
...,...,...,...,...,...,...,...,...,...,...
254378,254378,20400337,2004-12-17 00:00:00,HOU,GSW,1610612744,2784,FLORELU01,luis_flores,2004
254379,254379,20400347,2004-12-18 00:00:00,SAS,GSW,1610612744,2784,FLORELU01,luis_flores,2004
254380,254380,20400359,2004-12-20 00:00:00,WAS,GSW,1610612744,2784,FLORELU01,luis_flores,2004
254389,254389,20400376,2004-12-22 00:00:00,SEA,SEA,0,2825,KUTLUIB01,ibrahim_kutluay,2004
254390,254390,20400417,2004-12-30 00:00:00,SEA,SEA,0,2825,KUTLUIB01,ibrahim_kutluay,2004

In [72]:

gameWithPlayerStats = pd.merge(games, playerStats, on=["ilkid", "year"], how='inner')

In [73]:
gameWithPlayerStats[gameWithPlayerStats["game_id"] == 29600012][["minutes","gp"]]
# gameWithPlayerStats["minutes"]

      minutes  gp
0       17.40  58
689     37.48  80
1369    37.18  79
1891    11.51  80
2471    18.23  79
2498    32.68  77
3423    38.06  51
3990    16.28  71
4322     7.25  12
4323     9.41  54
4324     8.40  15
4325    10.93  27
4378    27.73  77
4739    10.52  65
5284    28.20  65
5471    14.68  53
5481    29.06  80
6210    25.83  54
6211    30.73  22
6212    22.47  32
6864    35.61  56
6865    33.61  83
6866    29.48  27
7478    14.37  59
7479     3.75   8
7480    15.87  23
7481    16.18  28
7661    20.30  27
7662    30.02  83
7663    34.71  56

In [77]:
gameWithPlayerStats[(gameWithPlayerStats["game_id"] == 29600012) & (gameWithPlayerStats["team_id_x"] == "LAL")]["avg_blk"].mean()
# gameWithPlayerStats.columns

0.6011527777777778

In [75]:
def getTeamAttributes(game, teams, columns):
    teamAttributes = {}
    teamIndex = ['t1','t2']
    teamAttributes['game_id'] = game.iloc[0]['game_id']
    teamAttributes['game_date'] = game.iloc[0]['game_date']
     
    for i in range(len(teams)):
        for col in columns:
            teamAttributes[teamIndex[i]+"_"+col] = game[(game["team_id_x"] == teams[i])][col].mean()
    teamAttributes["t1_team_ilkid"] = game[(game["team_id_x"] == teams[0])]["ilkid"].tolist()
    teamAttributes["t2_team_ilkid"] = game[(game["team_id_x"] == teams[1])]["ilkid"].tolist()

    if game.iloc[0]["winning_team_abbr"] == teams[0]:
        teamAttributes["winner"] = 0
    else:
        teamAttributes["winner"] = 1
    
    return teamAttributes

columns = ['avg_gp','avg_minutes','avg_pts','avg_oreb','avg_dreb','avg_reb','avg_asts','avg_stl','avg_blk','avg_turnover','avg_pf','avg_fga','avg_fgm','avg_fta','avg_ftm','avg_tpa','avg_tpm']
aggregatedGame = pd.DataFrame(columns=['game_id', 'game_date', 't1_team_ilkid','t1_gp', 't1_minutes', 't1_pts','t1_oreb','t1_dreb','t1_reb','t1_asts','t1_stl','t1_blk','t1_turnover','t1_pf', 't1_fga', 't1_fgm', 't1_fta', 't1_ftm', 't1_tpa', 't1_tpm',
                                       't2_team_ilkid','t2_gp', 't2_minutes', 't2_pts','t2_oreb','t2_dreb','t2_reb','t2_asts','t2_stl','t2_blk','t2_turnover','t2_pf', 't2_fga', 't2_fgm', 't2_fta', 't2_ftm', 't2_tpa', 't2_tpm','winner'])
invalidGameIds = []
rows = []
for game_id in gameWithPlayerStats["game_id"].unique():
    gameDetails = gameWithPlayerStats[gameWithPlayerStats["game_id"] == game_id]
    teams = gameDetails["team_id_x"].unique().tolist()
    if len(teams) != 2:
        invalidGameIds.append(game_id)
        continue
    rows.append(getTeamAttributes(gameDetails, teams, columns))

aggregatedGame = pd.DataFrame(rows)

In [78]:
pd.set_option('display.max_columns', None)
aggregatedGame

,game_id,game_date,t1_avg_gp,t1_avg_minutes,t1_avg_pts,t1_avg_oreb,t1_avg_dreb,t1_avg_reb,t1_avg_asts,t1_avg_stl,t1_avg_blk,t1_avg_turnover,t1_avg_pf,t1_avg_fga,t1_avg_fgm,t1_avg_fta,t1_avg_ftm,t1_avg_tpa,t1_avg_tpm,t2_avg_gp,t2_avg_minutes,t2_avg_pts,t2_avg_oreb,t2_avg_dreb,t2_avg_reb,t2_avg_asts,t2_avg_stl,t2_avg_blk,t2_avg_turnover,t2_avg_pf,t2_avg_fga,t2_avg_fgm,t2_avg_fta,t2_avg_ftm,t2_avg_tpa,t2_avg_tpm,t1_team_ilkid,t2_team_ilkid,winner
0,29600012,1996-11-01 00:00:00,58.044444,20.621097,8.956167,1.018667,2.458639,3.478097,2.257903,0.682903,0.601153,1.326444,1.889722,7.260625,3.408444,2.448194,1.587778,1.535806,0.549056,57.262037,24.287750,8.732306,1.121787,3.021861,4.143602,1.741241,0.737685,0.430019,1.217907,2.057056,7.413583,3.327046,1.910250,1.420528,1.855657,0.656852,"[BLOUNCO01, JONESED01, VANEXNI01, FISHEDE01, S...","[MANNIDA01, NASHST01, CHAPMRE01, TISDAWA01, PE...",0
1,29600027,1996-11-03 00:00:00,71.388889,24.334444,11.026667,1.338889,3.030000,4.369444,2.382778,0.820556,0.810000,1.517778,2.152222,8.712222,4.135556,3.205556,2.134444,1.694444,0.620556,73.166667,23.920556,9.171111,1.246111,3.042778,4.290000,1.876667,0.762778,0.670556,1.331667,2.292778,7.477222,3.476111,2.456111,1.857778,1.098333,0.358889,"[BLOUNCO01, JONESED01, VANEXNI01, FISHEDE01, S...","[WESTDO01, PARKSCH01, CARRCH01, MITCHSA01, GAR...",0
2,29600044,1996-11-06 00:00:00,71.437500,25.341250,11.802500,1.277500,3.076250,4.354375,2.611875,0.868125,0.807500,1.621250,2.122500,9.317500,4.406250,3.430000,2.292500,1.906250,0.698125,50.816667,20.326667,7.604833,1.079000,2.522167,3.601889,1.970167,0.594278,0.350944,1.287333,2.225500,6.096278,2.776722,1.933667,1.437722,1.569778,0.616556,"[BLOUNCO01, JONESED01, VANEXNI01, FISHEDE01, S...","[DIVACVL01, ROSEMA01, GEIGEMA01, BURRESC01, BU...",1
3,29600057,1996-11-08 00:00:00,71.437500,25.341250,11.802500,1.277500,3.076250,4.354375,2.611875,0.868125,0.807500,1.621250,2.122500,9.317500,4.406250,3.430000,2.292500,1.906250,0.698125,49.666667,23.376389,9.381389,1.520000,3.024167,4.543889,1.490556,0.743889,0.674444,1.565278,2.600833,7.811111,3.590000,2.410000,1.696667,1.321667,0.505556,"[BLOUNCO01, JONESED01, VANEXNI01, FISHEDE01, S...","[JONESPO01, DAVISHU01, CHRISDO01, WRIGHSH01, W...",1
4,29600095,1996-11-13 00:00:00,59.041026,20.230244,8.851077,0.991077,2.361821,3.353628,2.182679,0.683449,0.579526,1.345949,1.855128,7.159038,3.337026,2.439872,1.613333,1.565359,0.562205,55.156250,22.281875,9.498750,0.877812,2.002187,2.878750,2.527812,0.704375,0.288750,1.601875,1.840625,8.082813,3.454063,2.564062,1.920937,2.020313,0.670625,"[BLOUNCO01, JONESED01, VANEXNI01, FISHEDE01, S...","[MAXWEVE01, ELLIOSE01, WILKIDO01, JOHNSAV01, H...",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8772,20400220,2004-12-01 00:00:00,51.617965,19.719773,7.393171,1.048268,2.414578,3.460931,1.742229,0.631104,0.362662,1.325335,2.047825,6.010216,2.698961,2.244091,1.711407,0.849567,0.284210,33.010417,12.854792,3.543125,0.554792,1.155625,1.711042,0.688750,0.355417,0.295937,0.672500,1.425208,3.205625,1.317917,1.036563,0.721563,0.616875,0.185938,"[BRUNSRI01, MOOREMI01, MAGGECO01, SIMMOBO01, W...","[GILLED01, FOWLKTR01, JONESFR01, HAISLMA01, JO...",0
8773,20400254,2004-12-06 00:00:00,51.617965,19.719773,7.393171,1.048268,2.414578,3.460931,1.742229,0.631104,0.362662,1.325335,2.047825,6.010216,2.698961,2.244091,1.711407,0.849567,0.284210,50.738095,17.861310,6.626548,1.242262,2.305238,3.546190,0.955714,0.503333,0.431548,1.003333,1.747262,6.069881,2.613095,1.705357,1.123452,0.791429,0.275595,"[BRUNSRI01, MOOREMI01, MAGGECO01, SIMMOBO01, W...","[HARTJA01, BREZEPR01, SLAYTA01, ELYME01, KAPON...",0
8774,20400415,2004-12-29 00:00:00,41.925084,15.828897,5.888948,0.877357,1.964116,2.839983,1.086549,0.405859,0.321145,1.116557,1.740160,4.881835,2.171229,1.796515,1.366094,0.607997,0.181793,52.606602,19.481374,7.470308,1.012976,2.302668,3.314729,2.044416,0.594188,0.229194,1.327316,1.952024,6.485557,2.814627,2.094221,1.561055,0.848295,0.281326,"[BRUNSRI01, MOOREMI01, MAGGECO01, REBRAZE01, S...","[HARPRMA01, ARROYCA01, ARROYCA01, ARROYCA01, B...",0
8775,20400392,2004-12-27 00:00:00,62.980159,25.328968,9.839405,1.380278,2.845913,4.225119,2.114484,0.919921,0.468056,1.698770,2.235040,8.407421,3.548135,3.022381,2.174365,1.667500,0.568175,47.148148,17.064074,5.958333,1.287130,2.376759,3.662407,0.900185,0.467500,0.452222,0.944815,1.656944,5.399352,2.330648,1.639352,1.077037,0.599630,0.220278,"[HUGHELA01, BROWNKW01, ARENAGI01, HAYWOBR01, J...","[HARTJA01, WALLAGE01, BREZEPR01, ELYME01, SAMP...",0
8776,20300974,2004-03-16 00:00:00,45.669780,17.051023,6.363828,0.878692,2.215448,3.095210,0.970372,0.446353,0.317644,0.880392,1.573938,5.498741,2.420621,1.514517,1.125920,1.116737,0.393507,60.685417,21.315792,8.186271,1.204375,2.654708,3.857750,1.306146,0.579917,0.367646,1.286896,2.074688,6.982146,3.020458,2.310771,1.749333,1.187521,0.394208,"[WHITEJA01, MARIOSH01, HARVEDO01, JOHNSJO02, J...","[MAGGECO01, RICHAQU01, DOOLIKE01, SIMMOBO01, D...",1

In [79]:
aggregatedGame.to_csv("avg_team_attr_by_game.csv")